{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="hero-wrap hero-bread" style="background-image: url('images/bg_6.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span>Checkout</span></p>
            <h1 class="mb-0 bread">Checkout</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-10 ftco-animate">
						<form action="checkout" class="billing-form" method="post">
							{% csrf_token %}
							<h3 class="mb-4 billing-heading">Billing Details</h3>
	          	<div class="row align-items-end">
	          		<div class="col-md-6">
	                <div class="form-group">
	                	<label>First Name</label>
	                  <input type="text" class="form-control" placeholder="" name="fname" required>
	                </div>
	              </div>
	              <div class="col-md-6">
	                <div class="form-group">
	                	<label>Last Name</label>
	                  <input type="text" class="form-control" placeholder="" name="lname" required>
	                </div>
                </div>

		            <div class="w-100"></div>
		            <div class="col-md-12">
		            	<div class="form-group">
	                	<label>Address</label>
	                  <input type="textarea" class="form-control" placeholder="House number and street name" name="address" required>
	                </div>
		            </div>
					<div class="w-100"></div>
		            <div class="col-md-6">
		            	<div class="form-group">
		            		<label>State / Country</label>
		            		<div class="select-wrap">
	                  <input type="text" class="form-control" placeholder="" name="country" required>
		                </div>
		            	</div>
		            </div>
					<div class="w-100"></div>
		            <div class="col-md-6">
		            	<div class="form-group">
						<label>Town / City</label>
	                  <input type="text" class="form-control" placeholder="" name="city" required>
	                </div>
		            </div>
		            <div class="col-md-6">
		            	<div class="form-group">
		            		<label>Postcode / ZIP *</label>
	                  <input type="text" class="form-control" placeholder="" name="pin" required>
	                </div>
		            </div>
		            <div class="w-100"></div>
		            <div class="col-md-6">
	                <div class="form-group">
	                	<label>Phone</label>
	                  <input type="text" class="form-control" placeholder="" name="phone" required>
	                </div>
	              </div>
	              <div class="col-md-6">
	                <div class="form-group">
	                	<label>Email Address</label>
	                  <input type="email" class="form-control" placeholder="" name="email" required>
	                </div>
                </div>
                <div class="w-100"></div>
                <div class="col-md-12">

	            </div>
				</div>
	          <!-- END -->



	          <div class="row mt-5 pt-3 d-flex">
	          	<div class="col-md-6 d-flex">
	          		<div class="cart-detail cart-total bg-light p-3 p-md-4">
	          			<h3 class="billing-heading mb-4">Cart Total</h3>
	          			<p class="d-flex">
		    						<span>Subtotal</span>
		    						<span>₹20.60</span>
		    					</p>
		    					<p class="d-flex">
		    						<span>Delivery</span>
		    						<span>₹0.00</span>
		    					</p>
		    					<p class="d-flex">
		    						<span>Discount</span>
		    						<span>₹3.00</span>
		    					</p>
		    					<hr>
		    					<p class="d-flex total-price">
		    						<span>Total</span>
		    						<span>{{t}}</span>
		    					</p>
						<td>
							<input type="submit" value="place order"></td>
								</div>
	          	</div>

	          </div>
          </div> <!-- .col-md-8 -->
        </div>
      </div>
    </section> <!-- .section -->
{% endblock %}
